<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启springMVC的注解模式-->
    <!--1.这个注解默认提供，数据绑定，数字和日期的formate，xml和json的读写支持-->
    <mvc:annotation-driven/>
    <!--2.静态资源默认的servlet配置
    1.允许.js,.gif,.png的静态资源处理
    2.允许使用“/”做整体的映射
    -->
    <mvc:default-servlet-handler/>
    <!--3:配置jsp显示ViewResolver,Modle的定向分发-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--jstl开启-->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/JSP/"/>
        <property name="suffix" value=".jsp"/>

    </bean>
    <!--扫描controller包-->
    <context:component-scan base-package="org.test.cotroller"/>
</beans>