<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--spring和mybatis整合配置-->
    <!--1.数据库配置文件的加载-->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!--链接池的配置-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--通用连接池的配置-->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--连接池私有属性-->
        <!--最大最小 链接数-->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!--关闭后不自动commite,可不写，因为默认值就是false，此处只是为了强调-->
        <property name="autoCommitOnClose" value="false"/>
        <!--获取链接超时时间-->
        <property name="checkoutTimeout" value="1000"/>
        <!--重连次数-->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>
    <!--配置sqlSessionFactory对象-->
    <bean id="sqlSessionFactor" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描entyties包-->
        <property name="typeAliasesPackage" value="org.test.entity"/>
        <!--扫描并加载mapper.xml-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--dao接口的实现，注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入factory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactor"/>
        <!--给出需要扫描的Dao接口包-->
        <property name="basePackage" value="org.test.dao"/>
    </bean>
</beans>
